@function rem($size) {
  @return $size / 16px * 1rem;
}

body {
  font-family: 'Kanit';
}

// a:active, a:visited , a:hover {
//   color: $color_font-main;
// }

.component-wrapper {
  width: 100%;
}

.relative {
  position: relative;
}

.search-box {
  margin: 45px 0 45px 0;
  clear: both;
}

.ivu-modal-mask {
  // background-color: rgba(0, 0, 0, 0.1);
  filter: blur(167px);
}

.secction-form {
  border-radius: 15px;
  padding: 20px 20px 10px 20px;
  
  &.with-border {
    border: 1px solid $color_font-main;
    background-color: rgba(255,255,255, 0.5);
  }
}

.ivu-tooltip-inner, .ivu-tooltip-inner-with-width {
  word-break: break-word;
}

.wrapper-alert {
  min-height: 50vh;
  clear: both;
}
.alert-header {
  font-size: $fontSize-Header;
  color: $color_font-main;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.alert-bigheader {
  font-size: $fontSize-bigHeader;
  color: $color_font-3;
  font-weight: bold;
  text-align: center;
}

.text-right{
  text-align: right;
}