$color_font-main: #009345;
$color_font-1: #fff;
$color_font-2: #9C9C9C;
$color_font-3: #F1963A;

$color: #E1E1E1;

$color_button: #F1963A;
$color_border: #dcdee2;
$color_border-table: #E1E1E1;

$color_background: #f5f5f5;
$color_background-header-table:#9C9C9C;
$color_background-row-table:#fff;

$color_input-disabled: #E1E1E1;